In [50]:

import os
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns

filepath = './Data'
df = pd.read_csv(
    os.path.join(filepath, 'energy_2023_FR.csv')
)

In [51]:
df.head()

,Area,MTU,Biomass - Actual Aggregated [MW],Energy storage - Actual Aggregated [MW],Fossil Brown coal/Lignite - Actual Aggregated [MW],Fossil Coal-derived gas - Actual Aggregated [MW],Fossil Gas - Actual Aggregated [MW],Fossil Hard coal - Actual Aggregated [MW],Fossil Oil - Actual Aggregated [MW],Fossil Oil shale - Actual Aggregated [MW],...,Hydro Run-of-river and poundage - Actual Aggregated [MW],Hydro Water Reservoir - Actual Aggregated [MW],Marine - Actual Aggregated [MW],Nuclear - Actual Aggregated [MW],Other - Actual Aggregated [MW],Other renewable - Actual Aggregated [MW],Solar - Actual Aggregated [MW],Waste - Actual Aggregated [MW],Wind Offshore - Actual Aggregated [MW],Wind Onshore - Actual Aggregated [MW]
0,France (FR),01.01.2023 00:00 - 01.01.2023 01:00 (UTC),424.0,n/e,n/e,n/e,2253.0,44.0,203.0,n/e,...,4849.0,607.0,n/e,25620.0,n/e,n/e,0.0,135.0,n/e,11777.0
1,France (FR),01.01.2023 01:00 - 01.01.2023 02:00 (UTC),426.0,n/e,n/e,n/e,2243.0,44.0,203.0,n/e,...,4853.0,37.0,n/e,25066.0,n/e,n/e,0.0,136.0,n/e,11437.0
2,France (FR),01.01.2023 02:00 - 01.01.2023 03:00 (UTC),424.0,n/e,n/e,n/e,2306.0,45.0,203.0,n/e,...,4715.0,NaN,n/e,24502.0,n/e,n/e,0.0,136.0,n/e,11087.0
3,France (FR),01.01.2023 03:00 - 01.01.2023 04:00 (UTC),424.0,n/e,n/e,n/e,2254.0,45.0,202.0,n/e,...,4571.0,NaN,n/e,24423.0,n/e,n/e,0.0,136.0,n/e,10718.0
4,France (FR),01.01.2023 04:00 - 01.01.2023 05:00 (UTC),419.0,n/e,n/e,n/e,2251.0,45.0,203.0,n/e,...,4524.0,NaN,n/e,24536.0,n/e,n/e,0.0,138.0,n/e,10130.0

In [52]:
df = df.replace('n/e', np.nan)
df[[x for x in df.columns if "MW" in x ]] = df[[x for x in df.columns if "MW" in x ]].apply(lambda x: x.astype(float), axis=1)
df.dtypes

/var/folders/qv/t2vwkpks13lc6qj9vrjf5qf80000gn/T/ipykernel_65344/3228066213.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('n/e', np.nan)

Area                                                         object
MTU                                                          object
Biomass - Actual Aggregated [MW]                            float64
Energy storage - Actual Aggregated [MW]                     float64
Fossil Brown coal/Lignite - Actual Aggregated [MW]          float64
Fossil Coal-derived gas - Actual Aggregated [MW]            float64
Fossil Gas - Actual Aggregated [MW]                         float64
Fossil Hard coal - Actual Aggregated [MW]                   float64
Fossil Oil - Actual Aggregated [MW]                         float64
Fossil Oil shale - Actual Aggregated [MW]                   float64
Fossil Peat - Actual Aggregated [MW]                        float64
Geothermal - Actual Aggregated [MW]                         float64
Hydro Pumped Storage - Actual Aggregated [MW]               float64
Hydro Pumped Storage - Actual Consumption [MW]              float64
Hydro Run-of-river and poundage - Actual Aggregated [MW]    float64
Hydro Water Reservoir - Actual Aggregated [MW]              float64
Marine - Actual Aggregated [MW]                             float64
Nuclear - Actual Aggregated [MW]                            float64
Other - Actual Aggregated [MW]                              float64
Other renewable - Actual Aggregated [MW]                    float64
Solar - Actual Aggregated [MW]                              float64
Waste - Actual Aggregated [MW]                              float64
Wind Offshore - Actual Aggregated [MW]                      float64
Wind Onshore - Actual Aggregated [MW]                       float64
dtype: object

In [53]:
df[['start_time', 'time']] = df['MTU'].str.split(' - ', expand=True)
df['time'] = df['time'].apply(lambda x: x.replace(' (UTC)','')).apply(lambda x: datetime.strptime(x, "%d.%m.%Y %H:%M"))
df['time'] = pd.to_datetime(df['time'], utc=True) 
df[['MTU','start_time', 'time']].head()
#df[['MTU','start_time', 'time']].dtypes

,MTU,start_time,time
0,01.01.2023 00:00 - 01.01.2023 01:00 (UTC),01.01.2023 00:00,2023-01-01 01:00:00+00:00
1,01.01.2023 01:00 - 01.01.2023 02:00 (UTC),01.01.2023 01:00,2023-01-01 02:00:00+00:00
2,01.01.2023 02:00 - 01.01.2023 03:00 (UTC),01.01.2023 02:00,2023-01-01 03:00:00+00:00
3,01.01.2023 03:00 - 01.01.2023 04:00 (UTC),01.01.2023 03:00,2023-01-01 04:00:00+00:00
4,01.01.2023 04:00 - 01.01.2023 05:00 (UTC),01.01.2023 04:00,2023-01-01 05:00:00+00:00

In [54]:
# Remove the string "_Name" from column names
df.rename(columns=lambda x: x.replace(' - Actual Aggregated [MW]', ''), inplace=True)

df.columns

Index(['Area', 'MTU', 'Biomass', 'Energy storage', 'Fossil Brown coal/Lignite',
       'Fossil Coal-derived gas', 'Fossil Gas', 'Fossil Hard coal',
       'Fossil Oil', 'Fossil Oil shale', 'Fossil Peat', 'Geothermal',
       'Hydro Pumped Storage',
       'Hydro Pumped Storage - Actual Consumption [MW]',
       'Hydro Run-of-river and poundage', 'Hydro Water Reservoir', 'Marine',
       'Nuclear', 'Other', 'Other renewable', 'Solar', 'Waste',
       'Wind Offshore', 'Wind Onshore', 'start_time', 'time'],
      dtype='object')

In [55]:
df.isna().sum()

Area                                                 0
MTU                                                  0
Biomass                                              6
Energy storage                                    8760
Fossil Brown coal/Lignite                         8760
Fossil Coal-derived gas                           8760
Fossil Gas                                           6
Fossil Hard coal                                     6
Fossil Oil                                           6
Fossil Oil shale                                  8760
Fossil Peat                                       8760
Geothermal                                        8760
Hydro Pumped Storage                              3970
Hydro Pumped Storage - Actual Consumption [MW]    4796
Hydro Run-of-river and poundage                      6
Hydro Water Reservoir                               60
Marine                                            8760
Nuclear                                              6
Other                                             8760
Other renewable                                   8760
Solar                                                6
Waste                                                6
Wind Offshore                                     4041
Wind Onshore                                         6
start_time                                           0
time                                                 0
dtype: int64

In [56]:

df.interpolate(method='linear', limit_direction='forward', inplace=True, axis=0)
df[[x for x in df.columns if x not in ['Area','MTU','start_time']]].head()

/var/folders/qv/t2vwkpks13lc6qj9vrjf5qf80000gn/T/ipykernel_65344/3498884307.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method='linear', limit_direction='forward', inplace=True, axis=0)

,Biomass,Energy storage,Fossil Brown coal/Lignite,Fossil Coal-derived gas,Fossil Gas,Fossil Hard coal,Fossil Oil,Fossil Oil shale,Fossil Peat,Geothermal,...,Hydro Water Reservoir,Marine,Nuclear,Other,Other renewable,Solar,Waste,Wind Offshore,Wind Onshore,time
0,424.0,NaN,NaN,NaN,2253.0,44.0,203.0,NaN,NaN,NaN,...,607.000,NaN,25620.0,NaN,NaN,0.0,135.0,NaN,11777.0,2023-01-01 01:00:00+00:00
1,426.0,NaN,NaN,NaN,2243.0,44.0,203.0,NaN,NaN,NaN,...,37.000,NaN,25066.0,NaN,NaN,0.0,136.0,NaN,11437.0,2023-01-01 02:00:00+00:00
2,424.0,NaN,NaN,NaN,2306.0,45.0,203.0,NaN,NaN,NaN,...,37.125,NaN,24502.0,NaN,NaN,0.0,136.0,NaN,11087.0,2023-01-01 03:00:00+00:00
3,424.0,NaN,NaN,NaN,2254.0,45.0,202.0,NaN,NaN,NaN,...,37.250,NaN,24423.0,NaN,NaN,0.0,136.0,NaN,10718.0,2023-01-01 04:00:00+00:00
4,419.0,NaN,NaN,NaN,2251.0,45.0,203.0,NaN,NaN,NaN,...,37.375,NaN,24536.0,NaN,NaN,0.0,138.0,NaN,10130.0,2023-01-01 05:00:00+00:00

In [66]:
def read_entsoe_df(country):
    df = pd.read_csv(os.path.join('./Data', f'energy_2023_{country}.csv'))

    df = df.replace('n/e', np.nan)
    df[[x for x in df.columns if "MW" in x ]] = \
        df[[x for x in df.columns if "MW" in x ]] \
            .apply(lambda x: x.astype(float), axis=1) \
            #.interpolate(method='linear', limit_direction='forward', inplace=True, axis=0)
    df.rename(columns=lambda x: x.replace(' - Actual Aggregated [MW]', ' [MW]'), inplace=True)

    df[['start_time', 'time']] = df['MTU'].str.split(' - ', expand=True)
    df['time'] = df['time'].apply(lambda x: x.replace(' (UTC)','')).apply(lambda x: datetime.strptime(x, "%d.%m.%Y %H:%M"))
    df['time'] = pd.to_datetime(df['time'], utc=True)

    return df[[x for x in df.columns if x not in ['MTU','start_time']]]
    #return df

In [67]:
read_entsoe_df('ES').head()

/var/folders/qv/t2vwkpks13lc6qj9vrjf5qf80000gn/T/ipykernel_65344/1562601756.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('n/e', np.nan)

,Area,Biomass [MW],Energy storage [MW],Fossil Brown coal/Lignite [MW],Fossil Coal-derived gas [MW],Fossil Gas [MW],Fossil Hard coal [MW],Fossil Oil [MW],Fossil Oil shale [MW],Fossil Peat [MW],...,Hydro Water Reservoir [MW],Marine [MW],Nuclear [MW],Other [MW],Other renewable [MW],Solar [MW],Waste [MW],Wind Offshore [MW],Wind Onshore [MW],time
0,Spain (ES),172.0,NaN,0.0,0.0,2884.0,368.0,40.0,0.0,0.0,...,2264.0,0.0,6464.0,12.0,80.0,20.0,232.0,0.0,5624.0,2023-01-01 00:15:00+00:00
1,Spain (ES),156.0,NaN,0.0,0.0,3092.0,400.0,40.0,0.0,0.0,...,2604.0,0.0,6464.0,8.0,76.0,20.0,232.0,0.0,5480.0,2023-01-01 00:30:00+00:00
2,Spain (ES),144.0,NaN,0.0,0.0,3028.0,416.0,40.0,0.0,0.0,...,2524.0,0.0,6468.0,8.0,76.0,20.0,232.0,0.0,5904.0,2023-01-01 00:45:00+00:00
3,Spain (ES),148.0,NaN,0.0,0.0,2924.0,436.0,40.0,0.0,0.0,...,2332.0,0.0,6468.0,8.0,76.0,20.0,236.0,0.0,5980.0,2023-01-01 01:00:00+00:00
4,Spain (ES),152.0,NaN,0.0,0.0,2892.0,440.0,40.0,0.0,0.0,...,2216.0,0.0,6468.0,8.0,72.0,20.0,236.0,0.0,5516.0,2023-01-01 01:15:00+00:00